body {
    background: #0d0d0d;
    color: #e0b3ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    color: #5022ac;
}

p, span, a {
    color: #330e4b !important;
}

/* Section fade animation */
.section {
    animation: fade 0.5s ease;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Gradient Header */
.gradient-bg {
    background: linear-gradient(135deg, #ff0058, #3c0874);
    box-shadow: 0px 4px 10px rgba(255, 0, 90, 0.4);
    color: #00a6ff ;
}

/* NAVIGATION BUTTONS */
nav button {
    transition: 0.4s;
    color: #ffe3f5;  /* light pink */
}

nav button:hover {
    background: rgba(255,255,255,0.15);
    transform: scale(1.08);
}

/* MOVIE CARD */
.movie-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    transition: 0.4s ease;
    border: 1px solid rgba(255,255,255,0.1);
    color: #0a155f;
}

.movie-card img {
    transition: 0.4s ease;
}

.movie-card:hover img {
    transform: scale(1.09);
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 0, 90, 0.6);
}

/* Book Button */
.movie-card button {
    background: #ff0058;
    transition: 0.3s;
    color: #680846;
}

.movie-card button:hover {
    background: #ff336d;
    transform: scale(1.08);
}

/* THEATER CARD */
.theater-card {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    padding: 16px;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    transition: 0.3s;
    color: #1e00ff;
}

.theater-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(8, 154, 45, 0.5);
}

.theater-card button {
    background: linear-gradient(135deg, #ff0058, #6a11cb);
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: #ffe3f5; /* soft pink */
}

.theater-card button:hover {
    transform: scale(1.1);
}

/* SEAT COLORS */
.seat {
    transition: 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 7px rgba(255,255,255,0.2);
}

.seat.available {
    background-color: #22c55e;
}

.seat.selected {
    background-color: #080320;
    transform: scale(1.2);
    box-shadow: 0 0 12px #1b0977;
}

.seat.booked {
    background-color: #e11d48;
    cursor: not-allowed;
}

/* Buttons */
button {
    cursor: pointer;
    transition: 0.3s;
    color: #ffe3f5;  /* pink */
}

button:hover {
    transform: scale(1.05);
}

#payment input, #login input {
    background: rgba(255,255,255,0.07);
    border: 1px solid rgba(255,255,255,0.2);
    color: #110e01;
    transition: 0.3s;
}

#payment input:focus, #login input:focus {
    border-color: #ff0058;
    box-shadow: 0px 0px 10px rgba(255,0,90,0.4);
}

/* Success box */
#success div {
    background: rgba(255,255,255,0.09) !important;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    color: #09a520;
}

@media (max-width: 600px) {
    .movie-card, .theater-card {
        transform: scale(0.95);
    }
}
